<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tmm.android.twitter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.tmm.android.twitter.appliaction.TwitterApplication"
        android:icon="@drawable/icon"
        android:label="Tweeter" >
        <activity
            android:name="com.tmm.android.twitter.AuthActivity"
            android:label="Tweeter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tweeter"
                    android:scheme="callback" />
            </intent-filter>
        </activity>
        <activity android:name="com.tmm.android.twitter.TweetsActivity" >
        </activity>
        <activity
            android:name="com.tmm.android.twitter.MainLoginActivity"
            android:label="@string/title_activity_main_login" >
        </activity>
    </application>

</manifest>