<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
		<key>itemChildren</key>
			<array>
			<dict>
				<key>itemTitle</key>
				<string>Introduction</string>
				<key>itemDesc</key>
				<string>Kimberly Noel "Kim" Kardashian is an American celebutante, socialite, model, actress, and television personality. She is best known for her social life and her role on the E! reality show Keeping Up with the Kardashians.</string>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>About Her</string>
				<key>itemDesc</key>
				<string>Kardashian attending Maxim's 10th Annual Hot 100 Celebration, Santa Monica, CA on May 13, 2009.

Full Name Kimberly Noel Kardashian

Birth Date: October 21, 1980 (1980-10-21) (age 29)

Birth Place: Los Angeles, California, U.S.

Nationality: American

Occupation:	Entrepreneur, actress, model, socialite

Years active: 2007-present

Height:	5 ft 2.5 in (1.59 m)

Known for: Reality show Keeping Up with the Kardashians,

Parents: Robert Kardashian, Kris Jenner

Relatives: 	Kourtney Kardashian, Khloe Kardashian, Robert Kardashian Jr, Kylie Jenner, Kendall Jenner, Burt Jenner (stepbrother), Casey Jenner 			      (stepsister), Brandon Jenner (stepbrother), Brody Jenner (stepbrother), Helen Kardashian (paternal grandmother), Mary Houghton (maternal grandmother)</string>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>Early life</string>
				<key>itemDesc</key>
				<string>Kardashian is of Armenian (father), Scottish and Dutch (mother) descent, the daughter of attorney Robert Kardashian and Kris Jenner (nee Houghton). Robert Kardashian, best known for being O. J. Simpson's lawyer during his murder trial, died on September 30, 2003. Her mother, Kris, divorced Robert in 1989, and married former Olympian Bruce Jenner in 1991.

Kardashian has two sisters, Kourtney and Khlo, and one brother, Robert. She also has stepbrothers Burton Jenner, Brandon Jenner, and reality TV star Brody Jenner, stepsister Casey Jenner, and half-sisters Kendall and Kylie Jenner. O. J. Simpson is Kardashian's godfather.

While attending high school, Kardashian worked at her father's music marketing firm, Movie Tunes.</string>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>Career</string>
				<key>itemDesc</key>
				<string>Her first acting role was in the television series Beyond the Break. She then starred in the 2008 disaster film spoof Disaster Movie as Lisa, alongside Carmen Electra and Vanessa Minnillo. Kardashian also appeared in an episode of How I Met Your Mother entitled "Benefits".

Kardashian has done many small modeling jobs on the side of her television career. Kardashian posed nude for the December 2007 issue of Playboy magazine. In February 2008, Bongo Jeans announced that Kardashian would be their new face model. Kardashian is also a model for Travis Barker's Famous Stars and Straps clothing line. Kardashian is one of the stars of the reality television series Keeping Up with the Kardashians along with her two sisters, mother, brother, half-sisters, and stepfather.

On May 2, 2008, Kardashian released a workout DVD, Workout with Kim Kardashian, and a set of workout cards with the help of trainer Kathy Kaehler. In July 2008, Kardashian announced on her personal blog that she is working on her own perfume line to be released in 2009. In March 2009 Kardashian launched a shoe shopping service. Kardashian is slated to appear as a guest judge during Cycle 13 of America's Next Top Model. Kardashian co-owns a clothing boutique called D-A-S-H with her sisters Kourtney and Khloe.

On November 4, 2009, it was announced that Kardashian will star with Vanessa Minnillo on CBS' CSI:NY on December 16, TVGuide.com has confirmed. "The ladies play two women who've managed to concoct a very interesting scheme that ends in murder," executive producer Pam Veasey tells People. They will be joined by Minnillo's former MTV colleague, LaLa Vasquez, as well as the band Train.</string>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>Dancing with the Stars</string>
				<key>itemDesc</key>
				<string>Kardashian was one of 13 participants on the seventh season of Dancing with the Stars. She was partnered with Current DWTS Champion Mark Ballas. Kardashian was the third contestant voted off the show on September 30, 2008, finishing in 11th place overall.</string>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>Personal life</string>
				<key>itemDesc</key>
				<string>In 2000, Kardashian married music producer Damon Thomas; their relationship ended in divorce in 2004. In 2007, she began dating NFL star Reggie Bush after they met at the ESPY Awards. The couple split at the end of July 2009.

However, as of September 29, 2009, a source told E! that Kardashian and Bush were back together. "[Khloe's] wedding made her miss him, so she flew to see him," the source said. Following her sister's nuptials, Kardashian hopped on a plane headed for New Orleans late Sunday night still wearing her purple "Mr. and Mrs. Odom" sweat suit.

On January 6, 2010, it was announced that Dr. Sanford Siegal, the creator of the Cookie Diet, has sued Kardashian, claiming she defamed him on Twitter. According to a release from Siegal, the Keeping Up with the Kardashians star tweeted in October that he was "falsely promoting" that she was on the cookie diet. "Not true! I would never do this unhealthy diet! I do QuickTrim!" Kardashian allegedly said via Twitter. "If this Dr. Siegal is lying about me being on this diet, what else are they lying about? Not cool!" Siegal filed a claim in a Florida state court claiming the statements are false and defamatory. He also alleges that Kardashian was on QuickTrim's payroll when she posted the tweet. Kardashian's tweet appears to stem from an article on CookieDiet.com, a site with no connection to Siegal, that named Kardashian as one of many celebrities who saw positive results on the diet. Kardashian sent a cease-and-desist order to Siegal, demanding the link be removed.</string>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>Sex tape</string>
				<key>itemDesc</key>
				<string>In 2007, a pornographic home video she had made with her then-boyfriend, R and B singer Ray J, was leaked. Kardashian pursued legal action against Vivid Entertainment for ownership of the tape. Kardashian later dropped the suit and settled with Vivid Entertainment for US$5 million.</string>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>Website</string>
				<key>itemDesc</key>
				<string></string>
			</dict><dict>
				<key>itemTitle</key>
				<string>Gallery</string>
				<key>itemDesc</key>
				<string></string>
			</dict>
		</array>
    </dict>
</plist>
